<div class="well page">

    <h3>Users list</h3>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            <input type="text" id="addon3a" class="form-control" placeholder="Search for" ng-model="query">
        </div>
    </div>


    <div id="userList">
        <div class="list-group">
            <div class="list-group-item">
                <div ng-repeat="user in users | filter:query" class="list-group-item" style="margin-top:16px">
                    <div class="row-picture">
                        <img class="circle"
                             ng-src="http://i.forbesimg.com/media/lists/people/{{user.firstName | lowercase}}-{{user.familyName | lowercase}}_50x50.jpg"
                             alt="icon">
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading">{{user.firstName}} {{user.familyName}}</h4>

                        <p class="list-group-item-text"><i class="glyphicon glyphicon-envelope"></i> {{user.email}}
                        </p>

                        <button type="button" ng-click="ctrl.deleteUser(user.id)" class="btn btn-warning btn-sm">
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p></p>

    <div class="list-group">
        <div class="generic-container" ng-controller="UsersController as ctrl">
            <div class="panel panel-default">
                <h3>User Registration Form </h3>
                <div class="formcontainer">
                    <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-lable" for="uname">Username</label>
                                <div class="col-md-7">
                                    <input type="text" ng-model="ctrl.newuser.login" id="uname"
                                           class="username form-control input-sm" placeholder="Enter the username"
                                           required
                                           ng-minlength="3"/>
                                    <div class="has-error" ng-show="myForm.$dirty">
                                        <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                        <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                        <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-lable" for="passw">Password</label>
                                <div class="col-md-7">
                                    <input type="password" ng-model="ctrl.newuser.password" id="passw"
                                           class="username form-control input-sm" placeholder="Enter the password"
                                           required
                                           ng-minlength="3"/>
                                    <div class="has-error" ng-show="myForm.$dirty">
                                        <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                        <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                        <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-lable" for="fname">First name</label>
                                <div class="col-md-7">
                                    <input type="text" ng-model="ctrl.newuser.firstName" id="fname"
                                           class="form-control input-sm"
                                           placeholder="Enter your first name"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-lable" for="family_name">Last name</label>
                                <div class="col-md-7">
                                    <input type="text" ng-model="ctrl.newuser.familyName" id="family_name"
                                           class="form-control input-sm"
                                           placeholder="Enter your last name"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-lable" for="email">Email</label>
                                <div class="col-md-7">
                                    <input type="email" ng-model="ctrl.newuser.email" id="email"
                                           class="email form-control input-sm" placeholder="Enter your Email" required/>
                                    <div class="has-error" ng-show="myForm.$dirty">
                                        <span ng-show="myForm.email.$error.required">This is a required field</span>
                                        <span ng-show="myForm.email.$invalid">This field is invalid </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-actions floatRight">
                                <input type="submit" value="New user"
                                       class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                                <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm"
                                        ng-disabled="myForm.$pristine">Reset Form
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>