
html {
    background-color: #F4E8DA;
}

body, #mainWrapper {
    height: 100%;
    background-image: url("rsz_background.jpg");
    background-color: #f4e8da;
}

body, #mainWrapper, .form-control {
    font-size: 13px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, .color-3, .address, .list-1 a:hover, .list-1 li, .list-1 li a:hover, .list-2 li {
    color: #68b78a;
}

.button {
    background: #68b78a;
    margin: 0 auto;
}

.div {
    text-align: center;
}

.wrapper {
    text-align: center;
}

.button:hover {
    background: #4c8764;
}

h1 {
    padding-bottom: 60px;
    padding-left: 222px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    color: #68b78a;
    text-decoration: none;
}

#mainWrapper {
    /*height: 720px; Without explicit px values, % in children's does not work*/
    height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.login-container {
    margin-top: 100px;
    background-color: transparent;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}

/*.form-container {
    position: fiexd;
    width: 50%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
}*/

.floatRight {
    float: right;
    margin-right: 18px;
}

.has-error {
    color: red;
}

.success {
    margin-left: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 100px;
    background-color: #ffffff;
    width: 40%;
    left: 30%;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.success-green {
    margin-left: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 100px;
    background-color: rgba(255,255,255,0.65);
    color: #68b78a;
    width: 40%;
    left: 30%;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
