<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" href="resources/img/favicon.jpeg"/>
    <!-- inject:css -->
    <link rel="stylesheet" href="resources/vendor/css/lib.min.css">
    <link rel="stylesheet" href="resources/css/main.css">
    <!-- endinject -->
    <title></title>
</head>
<body>

<div ng-if="authenticated" ng-include="'partials/navbar.html'"></div>

<div class="container">
    <div style="position: relative">
        <div ng-view="" class="fade"></div>
    </div>
</div>

<!-- inject:js -->

<script src="resources/vendor/js/lib.min.js"></script>

<script src="resources/js/app.js"></script>

<script src="resources/js/controllers.js"></script>

<script src="resources/js/directives.js"></script>

<script src="resources/js/services.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyABD5i0kBY67XpygROn39cOhDtH7Jv0-1g"></script>
<script src="resources/vendor/js/ng-map.min.js"></script>
<script src="resources/vendor/charts/js/fusioncharts.js"></script>
<script src="resources/vendor/charts/angular-fusioncharts.min.js"></script>

<script src="resources/js/controllers/userControllers.js"></script>
<script src="resources/js/controllers/tripControllers.js"></script>
<script src="resources/js/services/userService.js"></script>
<script src="resources/js/services/tripService.js"></script>


<!-- endinject -->

</body>
</html>