<div>
    <h2>My trips</h2>
    <p></p>
    <div ng-if="trips.length == 0">
        <div class="alert alert-info" role="alert">You have no trips!</div>
    </div>

    <div ng-if="trips.length > 0">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>City</th>
                <th>Arrival date</th>
                <th>Departure date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="trip in trips">
                <td>{{trip.city}}</td>
                <td>{{trip.arrivaltime}}</td>
                <td>{{trip.departuretime}}</td>
                <td><a class="btn btn-primary" href="#/trip/details/{{trip.id}}">Details</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
