<div class="well page">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="pull-left" style="margin-left: 16px">Welcome</h1>
        </div>
        <br/>

        <div class="col-lg-12">
            <blockquote style="margin-left: 16px">
                <p>Hello!</p>

                <p>Welcome to the smart trip planner web app. Happy surfing!</p>
            </blockquote>
        </div>
    </div>

</div>