<div>
    <h2>Reviews</h2>
    <p></p>

    <div ng-if="reviews.length == 0">
        <div class="alert alert-info" role="alert">There are no reviews!</div>
    </div>

    <div ng-if="reviews.length > 0">

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>

                    <input type="text" class="form-control" placeholder="Type to filter them out" ng-model="searchTerm">

                </div>
            </div>
        </form>

        <div class="table table-hover">
            <table class="list-group">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>User</th>
                    <th>Content</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="review in reviews | orderBy:sortType:sortReverse | filter:searchTerm">
                    <td>{{review.title}}</td>
                    <td>{{review.user}}</td>
                    <td>{{review.content}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="generic-container">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">Add a new review</span></div>
            <div class="formcontainer">
                <form ng-submit="reviewCtrl.submit()" name="myForm" class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="uname">Title</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="reviewCtrl.newrev.title" id="uname"
                                       class="form-control input-sm" required
                                       ng-minlength="3"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="content">Content</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="reviewCtrl.newrev.content" id="content"
                                       class="form-control input-sm" required
                                       ng-minlength="3"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit" value="Submit"
                                   class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm"
                                    ng-disabled="myForm.$pristine">Reset Form
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
